html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 80px;
}

header {
    background-color: #c3c3c3;
    padding: 10px;
}

header p {
    font-size: 28px;
    margin: 5px;
}

header ul {
    margin-top: 20px;
    padding: 5px;
}

header li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    padding: 5px;
    background-color: #434343;
}

header li a {
    color: #e7e7e7;
}

section {
    margin: 10px;
    width: 65%;
}

article header {
    background-color: transparent;
    padding-left: 0;
}

article header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

article header h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

article header h2 a {
    color: #333;
}

article header p {
    font-size: 14px;
    margin: 0;
}

article.post {
    margin-bottom: 50px;
}

article.comment p {
    margin-top: 0;
}

aside {
    float: right;
    width: 30%;
    padding: 5px 15px;
    margin: 5px;
    background-color: #c3c3c3;
    border: 1px solid #b5b5b5;
}

aside h3 {
    font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    border: 1px solid #b5b5b5;
    padding: 10px;
    font-style: 13px;
}

a {
    color: #4f6e9f;
    text-decoration: none;
}

a:hover,
a:active {
    color: #4f6e9f;
    text-decoration: underline;
}

p.session-message {
    padding: 5px;
    background-color: #007b00;
    color: #fff;
}

form label {
    display: block;
    font-style: italic;
}

form input {
    width: 300px;
}

form textarea {
    width: 500px;
    height: 150px;
}

form ul li {
    list-style-type: none;
    color: #ff0000;
}