{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ 'post.plural' | trans }} {% endblock %}

{% block sidebar %}
    <aside>
        <h3>{{ 'post.latest' | trans }}</h3>
        {% for post in latestPosts %}
            <p><a href="{{ path('blog_core_post_show', { slug: post.slug }) }}">{{ post.title }}</a></p>
        {% endfor %}
    </aside>
{% endblock %}

{% block section %}
    {% for post in posts %}
        {{ include('CoreBundle:Post:_post.html.twig', { post: post }) }}
    {% endfor %}
{% endblock %}
