{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Edit: {{ entity.name }}{% endblock %}

{% block section %}
    <h1>Edit: {{ entity.name }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog_admin_author_index') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
