{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/css/main.css') }}" />
{% endblock %}

{% block body %}
    <header>Symfony 2 Blog - Admin</header>
    <nav>
        <ul>
            <li><a href="{{ path('blog_admin_post_index') }}">Posts</a></li>
            <li><a href="{{ path('blog_admin_author_index') }}">Authors</a></li>

            {% if app.user %}
                <li><a href="{{ path('blog_admin_security_logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    <section>
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <p class="session-message">{{ message }}</p>
            {% endfor %}
        {% endfor %}

        {% block section %}

        {% endblock %}
    </section>
{% endblock %}